@model Guid

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>403 - Forbidden</title>
    <meta charset="utf-8" />
</head>
<body background="~/Images/403.jpg">
<h3 style="color: white">Error GUID: @Model.ToString()</h3>
</body>
</html>